In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

# 데이터 준비
(inde, de), _ = tf.keras.datasets.cifar10.load_data()
de = pd.get_dummies(de.reshape(50000))
print(inde.shape, de.shape)

(50000, 32, 32, 3) (50000, 10)

CNN 모델 중 손글씨 이미지를 학습한 Lenet5 모델을 한번 요약해보면

1. 입력으로 32*32의 그림이 사용
2. (28*28)크기로 6개의 특징맵을 만드는 Convolution Layer 사용
3. Max Pooling 사용
4. (10*10)크기로 16개의 특징맵을 만드는 Convolution Layer 사용
5. Max Pooling 사용
6. Flatten을 통해 400개의 변수로 펼친 후
7. 120개의 노드와 84개의 노드를 가진 Hidden Layer를 추가
8. 마지막으로 10개의 출력

In [2]:
# 모델 완성 
X = tf.keras.layers.Input(shape=[32, 32, 3])

# 아래 대신 H = tf.keras.layers.Conv2D(6, kernel_size=5, padding='same', activation='swish')(X)  
# 을 사용하면 크기를 5-1 만큼씩 줄이지 않는다.
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(X) 
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Conv2D(16, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Flatten()(H)

H = tf.keras.layers.Dense(120)(H)
H = tf.keras.layers.BatchNormalization()(H) # 배치 정규화 기법을 추가
H = tf.keras.layers.Activation('swish')(H)

H = tf.keras.layers.Dense(84)(H)
H = tf.keras.layers.BatchNormalization()(H) 
H = tf.keras.layers.Activation('swish')(H)

Y = tf.keras.layers.Dense(10, activation='softmax')(H)
 
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [3]:
# 모델 학습
model.fit(inde, de, epochs=30)

Epoch 1/30
1563/1563 [==============================] - 10s 5ms/step - loss: 1.6459 - accuracy: 0.4105
Epoch 2/30
1563/1563 [==============================] - 8s 5ms/step - loss: 1.2156 - accuracy: 0.5664
Epoch 3/30
1563/1563 [==============================] - 8s 5ms/step - loss: 1.1016 - accuracy: 0.6122
Epoch 4/30
1563/1563 [==============================] - 8s 5ms/step - loss: 1.0190 - accuracy: 0.6427
Epoch 5/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.9567 - accuracy: 0.6627
Epoch 6/30
1563/1563 [==============================] - 7s 5ms/step - loss: 0.9163 - accuracy: 0.6784
Epoch 7/30
1563/1563 [==============================] - 7s 5ms/step - loss: 0.8744 - accuracy: 0.6942
Epoch 8/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.8456 - accuracy: 0.7031
Epoch 9/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.8223 - accuracy: 0.7081
Epoch 10/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.7905 - accuracy: 0.7227
Epoch 11/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.7639 - accuracy: 0.7293
Epoch 12/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.7436 - accuracy: 0.7407
Epoch 13/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.7246 - accuracy: 0.7477
Epoch 14/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.7042 - accuracy: 0.7513
Epoch 15/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.6861 - accuracy: 0.7600
Epoch 16/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.6592 - accuracy: 0.7672
Epoch 17/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.6550 - accuracy: 0.7675
Epoch 18/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.6363 - accuracy: 0.7769
Epoch 19/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.6297 - accuracy: 0.7787
Epoch 20/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.6111 - accuracy: 0.7829
Epoch 21/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.5955 - accuracy: 0.7899
Epoch 22/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.5780 - accuracy: 0.7964
Epoch 23/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.5780 - accuracy: 0.7954
Epoch 24/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.5599 - accuracy: 0.8026
Epoch 25/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.5619 - accuracy: 0.8042
Epoch 26/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.5394 - accuracy: 0.8121
Epoch 27/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.5339 - accuracy: 0.8132
Epoch 28/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.5320 - accuracy: 0.8107
Epoch 29/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.5194 - accuracy: 0.8173
Epoch 30/30
1563/1563 [==============================] - 8s 5ms/step - loss: 0.5204 - accuracy: 0.8163

In [4]:
# 모델 이용
pred = model.predict(inde[0:5])
pd.DataFrame(pred).round(2)

     0    1     2     3     4     5     6    7     8     9
0  0.0  0.0  0.03  0.02  0.05  0.01  0.88  0.0  0.00  0.00
1  0.0  0.0  0.00  0.00  0.00  0.00  0.00  0.0  0.00  1.00
2  0.0  0.0  0.00  0.00  0.00  0.00  0.00  0.0  0.01  0.99
3  0.0  0.0  0.00  0.00  0.92  0.08  0.00  0.0  0.00  0.00
4  0.0  1.0  0.00  0.00  0.00  0.00  0.00  0.0  0.00  0.00

In [5]:
# 정답 확인
de[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  1  0  0  0
1  0  0  0  0  0  0  0  0  0  1
2  0  0  0  0  0  0  0  0  0  1
3  0  0  0  0  1  0  0  0  0  0
4  0  1  0  0  0  0  0  0  0  0

In [6]:
# 모델 확인
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 32, 32, 3)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 28, 28, 6)         456
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 14, 14, 6)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 10, 10, 16)        2416
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 5, 5, 16)          0
_________________________________________________________________
flatten (Flatten)            (None, 400)               0
_________________________________________________________________
dense (Dense)                (None, 120)               48120
_________________________________________________________________
batch_normalization (BatchNo (None, 120)               480
_________________________________________________________________
activation (Activation)      (None, 120)               0
_________________________________________________________________
dense_1 (Dense)              (None, 84)                10164
_________________________________________________________________
batch_normalization_1 (Batch (None, 84)                336
_________________________________________________________________
activation_1 (Activation)    (None, 84)                0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                850
=================================================================
Total params: 62,822
Trainable params: 62,414
Non-trainable params: 408
_________________________________________________________________