Pooling은 가중치의 개수를 작게 유지하기 위해서 사용한다.

(데이터의 차원 감소를위해 사용한다.)

In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd
 
# 데이터 준비
(inde, de), _ = tf.keras.datasets.mnist.load_data()
inde = inde.reshape(60000, 28, 28, 1)
de = pd.get_dummies(de)
print(inde.shape, de.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28, 1) (60000, 10)

In [2]:
# 모델 만들기
X = tf.keras.layers.Input(shape=[28, 28, 1])
 
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [3]:
# 모델 학습
model.fit(inde, de, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 12s 3ms/step - loss: 1.2753 - accuracy: 0.7970
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.1262 - accuracy: 0.9618
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0906 - accuracy: 0.9721
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0794 - accuracy: 0.9754
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0770 - accuracy: 0.9764
Epoch 6/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0672 - accuracy: 0.9807
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0620 - accuracy: 0.9812
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0629 - accuracy: 0.9816
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0590 - accuracy: 0.9828
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0568 - accuracy: 0.9832

In [4]:
# 모델 이용
pred = model.predict(inde[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [5]:
# 정답 확인
de[0:5]
 
# 모델 확인
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 12, 12, 3)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 8, 8, 6)           456
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 4, 4, 6)           0
_________________________________________________________________
flatten (Flatten)            (None, 96)                0
_________________________________________________________________
dense (Dense)                (None, 84)                8148
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________